body {
    font-family: 'Arial', sans-serif;
    background: url('AI_SDGs-new.png') no-repeat center center fixed;
    background-size: 100% 100%;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.content {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1, h2, h3 {
    color: #2c3e50;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    text-align: left;
}

h2 {
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small-text {
    font-size: 0.5em;
    margin-left: 10px;
}

.profile-info-container {
    display: flex;
    align-items: left;
    flex-wrap: wrap; /* Allows content to wrap */
}

img.profile {
    width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.fit {
    height: auto;
    max-width: 100%
}

.personal-info-container {
    width: 45%; /* Adjust width to fit next to image */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

img.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 10px;
}

img.icon2 {
    width: 60px;
    height: 20px;
    vertical-align: middle;
    margin-left: 10px;
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
    align-items: flex-start;
}

.info-text2 {
    flex: 4;
    margin-right: 20px;

}

.info-text {
    flex: 1;
    margin-right: 20px;

}

.info-box, .info-box2 {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/* Media Queries for smaller screens */
@media (max-width: 1024px) {
    img.profile {
        width: 50%; /* Increase width to 60% for medium screens */
	height: auto;
    }
   .personal-info-container {
    	width: 45%; /* Adjust width to fit next to image */
    	display: flex;
    	flex-wrap: wrap;
    	flex-direction: column;
    }
}

@media (max-width: 768px) {
    img.profile {
        width: 70%; /* Increase width to 70% for smaller screens */
	height: auto;
        margin-right: 0;
        margin-bottom: 20px; /* Add space below image */
    }
   .personal-info-container {
    	width: 100%; /* Adjust width to fit next to image */
    	display: flex;
    	flex-wrap: wrap;
    	flex-direction: column;
    }
}

@media (max-width: 480px) {
    img.profile {
        width: 80%; /* Increase width to 70% for smaller screens */
	height: auto;
        margin-right: 0;
        margin-bottom: 20px; /* Add space below image */
    }
   .personal-info-container {
    	width: 100%; /* Adjust width to fit next to image */
    	display: flex;
    	flex-wrap: wrap;
    	flex-direction: column;
    }
}

.nav-links {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.nav-links a {
    display: block;
    margin-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #2980b9;
    font-weight: bold;
}

a:hover {
    color: #3498db;
}

p {
    margin-bottom: 10px;
}

.contact img {
    vertical-align: middle;
}

.contact a {
    margin-left: 10px;
}

.search-container {
    margin-bottom: 20px;
}

#search-input {
    width: 100%;
    padding: 10px;
    margin-top: 0px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* visitor count bar*/
#visitor-counts {
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap; /* This allows the items to wrap to the next line */
    justify-content: flex-start;
    gap: 10px; /* Adds some space between items */
    margin: 20px 0;
}

.country-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px; /* Adjust the minimum width as needed */
    flex-grow: 1; /* Allows the containers to grow and wrap */
}

.flag {
    width: 24px;
    height: 16px;
    margin-bottom: 8px; /* Space between the flag and the country name */
}

.bar {
    height: 20px;
    background-color: #4CAF50;
    margin: 0px 0;
    width: 100%; /* Set the bar width to 100% of the container */
}

.count-label {
    font-weight: bold;
    text-align: center;
}
