/* Leaflet CSS (downloaded and included here) */
@import url('leaflet.css');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: url('AI_SDGs-new.png') no-repeat center center fixed;
    background-size: 100% 100%;
}

.content {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    font-size: 2.5em;
    text-align: left;
}


.centered-heading {
    margin-left: 10%;
    text-align: center;
}

#map1, #map2 {
    width: 80%; /* Adjusted to full width */
    height: 500px;
    margin: 1% 10%; /* Adjusted margin */
    margin-top: 20px; /* Space between the map and the table */
}

#controls {
    margin-bottom: 10px;
}

#color-bar {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    margin-top: 20px;
}

.color-scale {
    display: flex;
    flex-direction: column;
}

.color-block {
    width: 10px; /* Adjusted size */
    height: 10px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

#main-container {
    display: flex;

    justify-content: center;
    width: 80%;
}

.container-group {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin: 10px 1%;
}

.control-group {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

#container {
    display: flex;
    justify-content: space-between;
}

#controls-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.control {
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.control2 {
    align-items: flex-start;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.control label {
    margin-right: 10px;
}

.control button {
    margin-top: 10px;
    align-self: flex-start;
}

#obs-controls {
    margin-left: -50%;
}

#pred-controls {
    margin-left: 50%;
}

#region-summary, #region-summary_ {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-left: 0%;
}

#region-summary table, #region-summary_ table {
    width: 80%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.5);
}

#region-summary th, #region-summary td, #region-summary_ th, #region-summary_ td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#region-summary th, #region-summary_ th {
    background-color: rgba(255, 255, 255, 0.5);
}

/* Media Queries for smaller screens */
@media (max-width: 1024px) {
    #region-summary table, #region-summary_ table {
    width: 80%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.5);
    }

}

@media (max-width: 480px) {
    #region-summary table, #region-summary_ table {
    width: 50%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.5);
    }
}
